rocm-tensorflow==5.7.0
hip-python==5.7.0
cryptoaddr==1.0.23
requests==2.31.0
click==8.1.7
pyyaml==6.0
colorama==0.4.6
psutil==5.9.6
PyQt5==5.15.9
PyQtGraph==0.13.7
Pillow==10.1.0
pynvml==12.535.108
wmi==1.5.1
pywin32==306
watchdog==3.0.0
